In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [ ]:
fighters_raw = pd.read_csv('fighters.csv')
matches_raw = pd.read_csv('matches.csv')

In [156]:
fighters_raw.head()

  fighter_name  Height    Weight Reach Stance  DOB
0   AJ Fonseca   5' 4"  145 lbs.   NaN    NaN  NaN
1  AJ Matthews  5' 11"  185 lbs.   NaN    NaN  NaN
2     AJ McKee  5' 10"  145 lbs.   NaN    NaN  NaN
3    AJ Siscoe   5' 7"  135 lbs.   NaN    NaN  NaN
4   Aalon Cruz   6' 0"  145 lbs.   NaN    NaN  NaN

In [ ]:
fighters_raw.info()

In [ ]:
matches_raw.head()

In [ ]:
matches_raw.info()

In [158]:
# Drop na rows
fighters1 = fighters_raw.dropna(subset=['Height','Weight','Reach','Stance'], how='any')

In [ ]:
fighters1.info()

In [ ]:
# Converting height to cm
def feet_to_cm(x):
    if len(x.split("'")) == 2:
        feet = float(x.split("'")[0])
        inches = int(x.split("'")[1].replace(' ', '').replace('"',''))
        return (feet * 30.48) + (inches * 2.54)
    else:
        return float(x.replace('"','')) * 2.54

# Converting weight to kg 
def pound_to_kg(x):
    return round(int(x.split(' ')[0])*0.45359237, 2)

In [ ]:
fighters1['Height_cm'] = fighters1['Height'].apply(feet_to_cm)
fighters1['Weight_kg'] = fighters1['Weight'].apply(pound_to_kg)

In [ ]:
fighters1.info()

In [ ]:
# Take all female fighter's name from matches table
matches_women_name = matches_raw[matches_raw['weight_class'].str.contains("Women")]
matches_women_name['weight_class'].unique()

In [ ]:
# Separate male and female in fighters table
women_names = pd.concat([matches_women_name['R_fighter'], matches_women_name['B_fighter']], axis=0)
women_set = set(women_names.tolist())
print(len(women_set))

In [ ]:
# Adding gender column to fighters table
def sorting_name(x):
    if x in women_set:
        return 'female'
    else:
        return 'male'

fighters1['Gender'] = fighters1['fighter_name'].apply(sorting_name)

In [ ]:
fighters1.groupby(['Gender']).count()

In [ ]:
matches_raw.isna().sum().sort_values(ascending=False).tail(60)
# matches_raw['B_Reach_cms'].isna().sum()
matches_raw.info()

In [ ]:
# Remove Nan rows in matches table
matches2 = matches_raw.dropna(subset=['B_age','R_age','R_Stance','B_Stance', 'B_Reach_cms', 'R_Reach_cms'], how='any')

In [ ]:
matches2.info()

In [ ]:
# Separate female matches
matches_women = matches2[matches2['weight_class'].str.contains("Women's")]
matches_women

In [ ]:
# Separate male matches
matches_men = matches2[~matches2['weight_class'].str.contains("Women's")]
matches_men

In [ ]:
matches_women.isna().sum().sort_values(ascending=False).tail(60)

In [ ]:
# Export to .csv

fighters1 = fighters_raw.dropna(subset=['Height','Weight','Reach','Stance'], how='any')
# df2 = df1.dropna(subset=['Stance'], how='all')
# df_reach = df2.dropna(subset=['Height','Weight','DOB'], how='any')
# df_wo_reach = df_reach.dropna(subset=['Reach'])